<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".Helper.GlobalVariable"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/murkoff_circle_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/murkoff_circle_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DACN_MURKOFF_ANDROID"
        tools:targetApi="31">
        <activity
            android:name=".Chatbot.ChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".BookingPage.BookingPageActivity"
            android:exported="false" />
        <activity
            android:name=".ServicePage.ServicePageActivity"
            android:exported="false" />
        <activity
            android:name=".SearchPage.SearchPageActivity"
            android:exported="false" />
        <activity
            android:name=".RecordPage.RecordPageActivity"
            android:exported="false" />
        <activity
            android:name=".TreatmentPage.TreatmentPageActivity"
            android:exported="false" />
        <activity
            android:name=".GuidePage.GuidePageActivity"
            android:exported="false" />
        <activity
            android:name=".EmailPage.EmailPageActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmPage.AlarmPageActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsPage.AppearanceActivity"
            android:exported="false" />
        <activity
            android:name=".BookingPage.BookingPagePhotoActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsPage.BookingHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".WebPage.WebPageActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentPage.AppointmentPageService"
            android:exported="false" />
        <activity
            android:name=".RecyclerView.Appointment2RecyclerView"
            android:exported="false" />
        <activity
            android:name=".SettingsPage.AppointmentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsPage.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsPage.SettingsFragment"
            android:exported="false" />
        <activity
            android:name=".AppointmentPage.AppointmentPageFragment"
            android:exported="false" />
        <activity
            android:name=".AppointmentPage.AppointmentPageInfoActivity"
            android:exported="false" />
        <activity
            android:name=".BookingPage.BookingPageInfoActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationPage.NotificationFragment"
            android:exported="false" />
        <activity
            android:name=".DoctorPage.DoctorPageActivity"
            android:exported="false" />
        <activity
            android:name=".SpecialityPage.SpecialityPageActivity"
            android:exported="false" />
        <activity
            android:name=".HomePage.HomePageFragment"
            android:exported="false" />
        <activity
            android:name=".HomePage.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPage.GithubAuthActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPage.VerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginPage.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".NotificationPage.NotificationService" />
        <service android:name=".AppointmentPage.AppointmentPageService" />
    </application>

</manifest>